input {
    width: 145px;
    height: 61px;
    font-size: 10px;
    font-size: 56px;
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
}

button {
    width: 120px;
    height: 36px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.button {
    text-align: center;
}
#swap-button{
    margin-bottom: 10px;
}
section{
    background-color: black;
    margin: 20px 428px;
    padding: 39px 10px;
}